<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css" href="/css/reservation-list.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/menubar.css" />
  <link rel="stylesheet" type="text/css" href="/css/message.css" />
</head>


<body>

  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="reservation.html">Reservation</a></li>
    <li><a class="active" href="reservation-list.html">Reservation List</a></li>
  </ul>

  <div id="reservation-list">
    <!-- the content will be placed here -->
  </div>

  <script id="reservation-list-template" type="text/x-handlebars-template">
    <table >
      <caption id="reservation-caption">List of reservations</caption>
      <thead >
      <tr>
        <th>Reservation ID</th>
        <th>Facility ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reserved by</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each content}}
      <tr>
        <td>{{id}}</td>
        <td>{{resourceId}}</td>
        <td>{{startDate}}</td>
        <td>{{endDate}}</td>
        <td>{{owner}}</td>
        <td><a href="#" class="action" reservationId="{{id}}"><i class="glyphicon glyphicon-remove"></i></a>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </script>

  <div id="system-error" class="error-message">We are sorry, retrieving the list of reservations failed - please try again later.</div></h2>
  <div id="action-error" class="error-message">We are sorry, we were unable to execute your action - please try again later.</div></h2>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/lib/handlebars-v3.0.0.js"></script>
  <script src="js/reservation-list.js"></script>

</body>
</html>
