.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 12px 28px;
    border-radius: 8px;

    font-size: 16pt;
    font-family: Segoe UI Light;
    color: #217346;

    width: 400px;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.button:focus {
    outline: none;
}

