input[type=input] {
    width: 30%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=date] {
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=input]:focus {
    outline-color: #53a056;
}

input[type=date]:focus {
    outline-color: #53a056;
}