.error-message,
.message {
    display: none;
    padding: 5px 5px 5px 5px;
    width: 30%;
	border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.message {
	border: 2px solid green;
    background: rgba(76, 175, 80, 0.4);
}

.error-message {
	border: 2px solid red;
    background: rgba(255, 0, 0, 0.4);
}