@CHARSET "ISO-8859-1";

label,
button {
	display: block;
	margin-top: 15px;
}

button {
    margin-left: 1px;
}

.error-message,
.message {
    margin-top: 12px;
	margin-left: 8px;
}

label {
    font-size: 12pt;
    font-family: Segoe UI Light;
    color: #217346;
}

#reservationForm {
    margin-left: 10px;
    padding-top: 25px;
}