@CHARSET "ISO-8859-1";


#reservation-list {
    width: 100%;
    height: 100%;
}

.error-message,
.message {
    margin-top: 20px !important;
	margin: 0px auto;
}

table {
    width: 60%;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid green;
}

#reservation-caption,
#reservation-list th,
#reservation-list td {
    text-align: center;
}

#reservation-caption {
    font-size: 25pt;
    font-family: Segoe UI Light;
    color: #217346;
    padding-bottom: 15px;
}

th {
    background-color: #4CAF50;
    color: white;
    height: 25px;
}

td {
    font-family: Segoe UI Light;
    font-size: 12pt;
    color: #217346;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
